.App {
  text-align: center;
}

body {
  margin: 0
}

.board {
  border: 2px solid black;
  height: 95vh;
  margin: 2%;
}

.p1__diceholder, 
.p2__diceholder {
  position: relative;
}

.p1__diceholder__dice, 
.p2__diceholder__dice {
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  right: 47%;
}

.knucklebones__diceboard__square {
  position: relative;
  width: 100%;
}

.knucklebones__diceboard__column__container {
  display: flex;
}

.knucklebones__diceboard__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}

.knucklebones__diceboard__square span {
  font-size: 1.5em;
  position: absolute;
  top: 20%;
  left: 44%;
  font-weight: bold;
}